*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form{
    margin-top: 2rem;
    background-color: #f1f5f8;
    width: 90vw;
    max-width: 760px;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .form-row{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
  }

  .form-input{
    height: 1.8rem;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .form-label{
    font-weight: 500;
    padding-bottom:0.3rem ;
  }

  .btn{
    width: 30%;
    padding: 0.3rem;
    background-color: bisque;
  }
  .remove-btn{
    width: 90%;
    padding: 0.3rem;
    background-color: bisque;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
  }

  .error{
    color: red;
  }

  .row{
    text-align: left;
    justify-content: start;
    display: flex;
  }

  .check-form{
    background-color: #f1f5f8;
    width: 90vw;
    max-width: 760px;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

.drop-down{
  display: block;
  margin: auto 2rem;
}

.ship-input{
  display: block;
  margin: auto 2rem;
}

.label{
  font-weight: 500;
  padding-bottom:0.3rem ;
}

.usersList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto, minmax(300px, 1fr));
  gap: 2rem;
  
}

.usersListCover h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
  background-color: #f1f5f8;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between; 
  align-items: center;
  /* max-width: 40vw; */
}

.cardItems{
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
}

.cardItems ul{
  padding: 0;
}

.cardItems li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem{
  padding: 0;
  margin: 0;
}

.number {
  background-color: rgb(255, 208, 0);
  padding:0.55rem;
  border-top-left-radius: 0.7rem; 
  border-bottom-right-radius: 0.7rem;
  color: #fff;
}

.btn{
  height: fit-content;
  background-color: bisque;
  width: fit-content;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .cardItems li {
    align-items: center;
  }

  
  .cardItems {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 20px; */
  }
}

/* For small screens */
@media (max-width: 480px) {
  .cardItems {
    flex-direction: column;
    margin-bottom: 100px;
  }
}


.cover-div{
  text-align: center;
}

.cover{
  background-color: #f1f5f8;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  /* max-width: 40vw; */
  place-content: center;
  margin: 2rem;
}